body {
  background-image: url(img/pizza.jpg);
  margin-top: -2%;
}

h1 {
  background-color: rgba(0,0,0,0.5);
  border: 3px solid #ffd06c;
  padding: 1%;
  color: #ffd06c;
  text-align: center;
  font-size: 4rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

#pizzaForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4%;
}

#pizzaSelect {
  background-color: rgba(0,0,0,0.5);
  padding: 0.5%;
  color: #ffc750;
  margin-bottom: 5.3%;
  text-align: center;
  border: 3px solid #ffd06c;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.pizzaSelect2 {
 background-color: rgba(0,0,0,0.5);
 color: #ffc750;
 padding: 5%;
 margin-top: 4%;
 margin-bottom: 5%;
 border: 3px solid #ffd06c;
 font-size: 1.2rem;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 font-weight: bold;
}

.secondary {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-bottom: 5%;
}

#resultado {
  background-color: rgba(0,0,0,0.5);
  color: #ffc750;
  border: 2px solid #ffd06c;
  text-align: center;
  margin-top: -3%;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}



